<header id="home">
    <div class="container nav_container">
        <div class="navbar">
            <div class="logo">
                <img class="lucid"  src="img/Lucid.png" alt="">
                <img class="onepage" src="img/onepage_theme.png" alt="">                
            </div>
            <nav>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#features">Features</a></li>
                    <li><a href="#about_long">About</a></li>
                    <li><a href="#pricing_slider">Testimonials</a></li>
                    <li><a href="#pricing">Pricing</a></li>
                    <li><a href="#contacts">Contact</a></li>
                </ul>
            </nav>
            <div id="nav-icon3">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
        </div>
    </div>
    <div class="introduction">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 introduction_block">
                    <p class="intro">introducing lucid theme</p>
                    <h2>Carefully cra<span>f</span><span>t</span>ed and beautiful landing page.</h2>
                    <p class="main_text">Etiam ullamcorper et turpis eget hendrerit. Praesent varius risus mi, at elementum magna ultricies accumsan. Cras venenatis lacus sed dolor placerat tempus. Morbi blandit at neque ut imperdiet.</p>
                    <button class="mybutton downbtn">download now</button>
                    <button onclick="location.href='#features'" class="mybutton  viewbtn">view features</button>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-12 offset-md-0 col-sm-12 offset-sm-0 img_block">
                </div>
            </div>
        </div>
    </div> 
</header>