.footer {
    min-height: 160px;
    background-color: $backblack;
    .container {
        p {
            text-align: center;
            font-size: 14px;
            text-transform: uppercase;
            color: #999;
            letter-spacing: 0.17px;
            margin: 13px;
            opacity: 0.5;
        }
        .images {
            padding-top: 39px;
            min-height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            .wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 50px;
                a {
                    svg {
                        fill: white;
                        opacity: 0.2;
                        &:hover {
                            fill: $mainblue;
                            opacity: 1;
                        }
                    }
                }
            }
            :nth-child(1) {
                a {
                    svg {
                        width: 20px;
                    }
                }
            }
            :nth-child(2) {
                a {
                    svg {
                        width: 19px;
                    }
                }
            }
            :nth-child(3) {
                a {
                    svg {
                        width: 18px;
                    }
                }
            }
            :nth-child(4) {
                a {
                    svg {
                        width: 12px;
                    }
                }
            }
            :nth-child(5) {
                a {
                    svg {
                        width: 18px;
                    }
                }
            }
        }
    }
}