
@media (min-width: 576px) {
  .container, .container-sm {
      max-width: 760px;
  }
}

@media (min-width: 780px){
  .container, .container-md, .container-sm {
      max-width: 980px;
  }
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1200px;
  }
}


//section about_long



//section about_short



//section pricing



//section get_theme



//section pricing_options




//section contacts


//section map

